/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 Dec, 2014, 10:40:29 PM
    Author     : Darpan
*/


.footer a{
    display: inline-block;
    width: inherit;
    height: inherit;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer a:hover{
   
    background-color: #F00;
    color: #ffffff;
}
.copyright{
    padding: 20px;
    
}#txtpwd {

}
